{{ .CommentPrefix }} Generated with hyprdynamicmonitors freeze.
{{ .CommentPrefix }} This is a template that you can edit, it is just a starter that pulled your current monitor setup,
{{ .CommentPrefix }} adjust as needed.
{{ .CommentPrefix }} You can use templates here etc, see https://github.com/fiffeek/hyprdynamicmonitors/blob/main/examples/basic/hyprconfigs/template.go.tmpl.
{{ .CommentPrefix }} Monitors are given arbitrary tags (the "monitor" prefix and the ID coming from hyprland).
{{ .CommentPrefix }} If you are using tui to edit, leave this at the end of your file (the last monitor config applies)
{{ .CommentPrefix }} and leave the markers.
{{ .CommentPrefix }} <<<<< TUI AUTO START
{{- range .MonitorLines }}
{{ . }}
{{- end }}
{{ .CommentPrefix }} <<<<< TUI AUTO END
